<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
  <a class="project-link" href="https://drive.google.com/file/d/1Or0RcHpWtcy3SREX639HGuD10Tesyebb/view?usp=sharing" target="_blank">Resume (PDF)</a>
</div>
<div class="user">
  <div class="tech">
    <h2>Engineering</h2>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <p>3GPP Protocol stack, Computer vision(SLAM), Embedded system, MCU, ARM, CEVA, Unity3D</p>
  </div>
  <div class="tech">
    <h2>Training</h2>
    <img alt="basketball" src="/assets/img/basketball_7.jpg">
    <p>Athlete performance, Strength and conditioning, Snowboard instructor</p>
  </div>
  <div class="tech">
    <h2>Hobbies</h2>
    <img alt="metallica" src="/assets/img/metallica_6.jpg">
    <p>Weightlifting, Sports, Music, Movies, Camping, Travel ✈️ 🇹🇼🇯🇵🇮🇹🇲🇫🇺🇸🇰🇭🇹🇭🇭🇺🇬🇧🇩🇪🇳🇱</p>
  </div>
</div>