<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="phones" src="{{ "/assets/img/phones.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Protocol Stack Engineer </h3>
    <ul>
      <li> 3GPP protocol, GSM, WCDMA, LTE, SIM, USIM </li>
    </ul>
    <p>Worked on smartphone modem software development, and collaborated with Qualcomm on new chipset development; Involved in various compliance tests such as field tests, conformance tests, GCF/PTCRB/CTA/CMCC LAB tests; Involvement in scaled projects and mass-production, at several million shipped units</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="htcvive" src="{{ "/assets/img/work_vr.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> VR Architecture Engineer </h3>
    <ul>
      <li> Software Architect; Intel, ARM, CEVA </li>
    </ul>
    <p>Contact start-up companies and seek business opportunities; evaluate user scenarios, and provide proof-of-concept and prototype; Comprehensive system design from algorithms research, software architecture design, and hardware sensor selection suggestions; Research tracking methods in different technologies, such as camera, infrared, ultra-sound, and IMU; Performance tuning, e.g. refactoring with SIMD parallelism on different platforms, e.g. Intel, ARM, CEVA. </p>
    <a class="project-link" href="https://drive.google.com/file/d/1WeXdjNnI6Zjc1VL6zJQH4Mdd9mEXahIx/view?usp=sharing">Resume</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="clean70" src="{{ "/assets/img/clean70.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Athlete Performance </h3>
    <ul>
      <li> Strength and Conditioning Specialist </li>
    </ul>
    <p>As an instructor of Strength and Conditioning in a Taiwan college from 2015 to 2018, achieved third place in the University Basketball Association Championship Division One; Manipulate strength, cardio, and agility training; Design power training (Olympic weight lifting) and plyometrics programs; Analyze movements by kinetic chain; Drafting periodization (macrocycles, mesocycles, microcycles) and annual training plan.</p>
    <a class="project-link" href="https://drive.google.com/file/d/1x6MDixpaOpJMmUya2P1QOP6e7vZx1Jyn/view?usp=sharing">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="travis-rice" src="{{ "/assets/img/travis_rice.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Snowboard Instructor </h3>
    <ul>
      <li> Freestyle, Freeride </li>
    </ul>
    <p>Met Travis Rice in 栂池高原スキー場, Japan, January 2023</p>
  </div>
  <div class="images-right">
    <img alt="nozawa" src="{{ "/assets/img/nozawa.jpg" | prepend: site.baseurl }}" />
  </div>
</div>
